UltimatePathEditor/SampleData/PathVariable/PathVariable.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PathVariable" targetNamespace="Expression.Blend.SampleData.PathVariable" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PathVariable" type="tns:PathVariable" />
  <xs:complexType name="PathVariable">
    <xs:sequence>
      <xs:element name="PathValues" type="tns:PathValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PathValues">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PathValuesItem" type="tns:PathValuesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PathValuesItem">
    <xs:attribute blend:Format="Website URL" name="Value" type="xs:string" />
    <xs:attribute name="IsValid" type="xs:boolean" />
    <xs:attribute name="IsDragged" type="xs:boolean" />
    <xs:attribute name="IsDragOver" type="xs:boolean" />
  </xs:complexType>
</xs:schema>